name: Deployment of Dotnet app to Azure

env:
  WEBAPP_NAME: myapp-dotnet-8jun2022    # set this to the name of your Azure Web App
  WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '6.0.300'                 # set this to the .NET Core version to use

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Setup dotnet core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      
      - name: Build  with dotnet
        run: dotnet build --configuration Release

      - name: Publish dotnet app
        run: dotnet publish -c Release -o ${{ env.DOTNET_ROOT }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: .net-app
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy-app:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: action/download-artifact@v3
        with:
          name: .net-app

      - name: Deploy to azure
        id: deploy-to-webapp
        uses: azure/webapp-deploy@v2
        with:
          app-name: ${{ env.WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.WEBAPP_PACKAGE_PATH }}
    